@media screen and (max-width: 425px){
    html{
       display: flex;
       background-color: white;

    }
    body {
      background-color: rgb(255, 255, 255);
      height:auto;
      overflow-x: hidden;
    }
    .parent-main{
        flex-direction: column;
    }
    
    .sup1{
      width: 100%;
      display: block;
      transform: translateX(0px);
      border:none;
    }
    .slider-main{
      display: none;
    }
    .client-result{
      height: 790px;
    }
    .main_ovarian{
      height: 780px;
    }
    .main-line-graphs{
      height: 780px;
    }
    .main-nextstep{
      height: auto;
      padding-bottom: 100px;
    }
      .senior-dev{
        padding-bottom: 100px;
        padding-top: 40px;
    }
    .main-botm{
      bottom: 0;
    }
    .footer{
      bottom: 0;
    }
    .main-loader{
      position: absolute;
      top: 0;
      right: 0px;
      left: 0px;
      background-color: white;
      width: 500px;
      height:100%;
      z-index:10;
      
  }
  .un{
    opacity: 0;
    background-color: transparent;
    transition: all 1s;
    z-index: -1;
  }


  }