html {
    background-color: black;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

*::before,
::after {
    box-sizing: border-box;
}

body {
    width: 595px;
    background-color: white;
    height: 876px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}

.parent-main {
    width: 595px;
    background-color: white;
    height: 876px;
    overflow-x: hidden;
    display: flex;
}

.sup1 {
    transform: translateX(-1200px);
    display: none;
    border: solid 1px;
    width: 0%;
}

.sup2 {
    transform: translateX(0px);
    display: block;
    width: 100%;
    transition: all .1s;
}

.sup-user {
    /* left: 800px; */
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.main-user {
    text-align: center;
}

.user-logo {
    padding: 50px 0 0;
    font-family: 'Times New Roman', Times, serif;
}

.user_data {
    text-align: center;
    margin: 100px;
}

.client-name {
    font-size: 40px;
    color: #852f00;
    margin-top: 250px;
}

.client-test {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 90px;
}

.client-test span {
    font-weight: bold;
}

.img-handler {
    max-width: 100%;
}

.img-handler>img {
    width: 100%;
    margin-top: 5px;
}

.client-result {
    width: 100%;
    height: 100%;
    padding: 40px;
}

table {
    width: 100%;
}

.result-title {
    font-size: 30px;
}

.optio {
    color: #64BE45;
}

.Below {
    color: #FF5C5C;
}

.above {
    color: rgb(152, 55, 170);
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 13px;
    padding: 10px;
    position: absolute;
    bottom: 47px;
}

.logo {
    font-size: 17px;

}

.ovarian {
    background-color: #1a4b66;
    color: white;
    padding: 50px;
}

.ovarian h4 {
    font-size: 28px;
}

.ovarian p {
    font-size: 14px;
}

.understand {
    padding: 40px 50px;
}

.understand div {
    font-size: 14px;
    color: #777777;
}

.reserve {
    padding: 0 50px;
}

.inner-res {
    padding: 10px;
    background-color: #d8f2fb;
    border-radius: 10px;
}

.res1 {
    font-size: 11px;
    font-weight: 500;
    padding: 8px 0;
}

.re2 {
    font-size: 15px;
}

.re2 span {
    font-weight: bold;
    color: rgb(48, 48, 48);
}

.physics {
    padding: 50px;
}

.lowerphys {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    margin-top: 200px;
    color: #852f00;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* slider */
.slider-main {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.slider-num {
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.buton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;

}

.s-graph {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.s2-graph {
    display: flex;

}

.main-chart {
    height: 315px;
    width: 495px;
    margin: auto;

    position: relative;
}

.inner-col {
    position: absolute;
    top: 0;
    right: 0;
}

.ngml {
    font-size: 12px;
    color: #777777;
}

.y-axios {
    font-size: 12px;
    position: absolute;
    margin-top: 2px;
}

.y {
    margin: 15px 3px;
    font-size: 12px;
    color: #7c7c7c;

}

.x-axios {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 12px;
    margin: 0 2px;
    color: #7c7c7c;
}

.x-axios div {
    margin: 0 0 0 35px;
}

.pointer-plot {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    margin: 3px 0;
    font-size: 12px;
    border: solid 4px #812192;
    color: #812192;
    padding: 2px;
}

.pointer-plot span {
    position: absolute;
    top: -20px;
    left: 10px;
}

.dotted-line {
    width: 100%;
    border-top: dashed 0.1rem;
    position: absolute;
    margin: 6px 0;
}

.low {
    height: 40px;
    width: 100%;
    background-color: #ffe9e9;
    color: #ff5c5c;
    position: absolute;
    bottom: 0;
    text-align: right;
    font-size: 12px;
    padding: 10px 6px;
}

.s-low {
    height: 40px;
    width: 100%;
    background-color: #fcebff;
    color: #ed91fd;
    position: absolute;
    bottom: 32px;
    text-align: end;
    font-size: 12px;
    padding: 10px 6px;
}

.optiomal {
    height: 80px;
    width: 100%;
    background-color: #d8f2fb;
    color: #85acb9;
    position: absolute;
    bottom: 56px;
    text-align: end;
    font-size: 12px;
    padding: 19px 6px;
}

.s-high {
    height: 40px;
    width: 100%;
    background-color: #fcebff;
    color: #ed91fd;
    position: absolute;
    bottom: 130px;
    text-align: end;
    font-size: 12px;
    padding: 10px 6px;
}

.high {
    height: 140px;
    width: 100%;
    background-color: #ffe9e9;
    color: #ff5c5c;
    position: absolute;
    bottom: 130px;
    text-align: end;
    font-size: 12px;
    padding: 40px 6px;
}

.top-high {
    height: 140px;
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    top: 0px;
    text-align: end;
    font-size: 12px;
    padding: 10px 6px;
}



.main-linear {
    height: 24px;
    width: 495px;
    position: relative;
    background-color: #d8f2fb;
    border-radius: 20px;
    font-size: 11px;
    margin: auto;
    color: #777777;
}

.inner-linear {
    height: 100%;
    width: 95%;
    background-color: #d8f2fb;
    margin: auto;
}

.inner-linear-normal {
    height: 100%;
    background-color: #1a4b66;
    width: 45%;
    margin: 0 0 0 40px;
    position: relative;
}

.main-ploter {
    height: 14px;
    width: 14px;
    border: solid 2px #1a4b66;
    border-radius: 100%;
    position: absolute;
    top: 4px;
}

.inner-ploter {
    height: 60%;
    width: 60%;
    background-color: #1a4b66;
    margin: 0.14rem 3px 0 2px;
    border-radius: 50%;
}

.linear-zero {
    position: absolute;
    top: 25px;
}

.linear-normal {
    position: absolute;
    top: 25px;
    left: 39%;
}

.linear-two {
    position: absolute;
    top: 25px;
    left: -7px
}

.pgml {
    position: absolute;
    top: -25px;

}

.linear-twelve {
    position: absolute;
    top: 25px;
    right: -5px;
}

.linear-tt {
    position: absolute;
    top: 25px;
    right: 0;
}

.main-linear-e2 {
    height: 24px;
    width: 495px;
    position: relative;
    background-color: #f3f3f3;
    border-radius: 20px;
    font-size: 11px;
    color: #777777;
}

.inner-linear-e2 {
    height: 100%;
    width: 80%;
    background-color: #d8f2fb;
    border-radius: 20px 0 0 20px;
    position: relative;
}

.inner-linear-normal-e2 {
    height: 100%;
    width: 37.5%;
    background-color: #1a4b66;
    margin: 0 28%;
    position: relative;
}

.main-abbe {
    padding: 50px;
}

.main-abbe1 {
    padding: 10px 50px;
}

.fsh-inner {
    font-size: 17px;
}

.fsh-inner2 {
    font-size: 12px;
    color: #777777;
}

.main-w-is-fsh {
    background-color: #faf7f2;
    font-size: 12px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.w-is-fsh {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 11px;
}


.main-nextstep {
    padding: 50px;
}

.main-nextstep>h3 {
    margin-bottom: 10px;
}

.inner-nextstep {
    border: solid 1px #e6e6e6;
    border-radius: 10px;
    padding: 20px;
}

.inner-nextstep>button {
    border: none;
    border-radius: 5px;
    background-color: #d8f2fb;
    font-size: 13px;
    padding: 2px 7px;
    font-weight: 600;
}

.inner-nextstep h6 {
    font-size: 14px;
    margin-top: 10px;
}

.iner-pcos {
    font-size: 12px;
    color: #7c7c7c;
    font-weight: 400;
}

.next-img {
    width: 100%;
    height: 100%;

}

.taker-inner {
    font-size: 11px;
    color: #7c7c7c;
    margin-top: 15px;
    margin-left: 10px;
}

.taker-inner span {
    font-weight: 700;
    margin: 0 0.1rem;
}

.img-handlerinnext {
    height: 99px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #b8b7b7;
    overflow: hidden;
}

.stayprotect {
    border: solid 1px #e6e6e6;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}

.stayprotect>button {
    border: none;
    border-radius: 5px;
    background-color: #ede3f9;
    font-size: 13px;
    padding: 2px 7px;
    font-weight: 600;
}

.stayprotect h6 {
    font-size: 14px;
    margin-top: 10px;
}

.main-develop {
    padding: 50px;
}

.inner-develop1 {
    padding: 10px 10px;
    background-color: #ffffff;
    border: solid 2px #eeeeee;
    border-radius: 10px;
    margin-bottom: 20px;
}

.inner-develop1 h5 {
    font-size: 16px;
    margin: 10px 0 20px 0;
}

.dev b {
    /* border: solid ; */
    font-size: 13px;
    text-align: right;
}

.dev div {
    font-size: 12px;
    font-weight: 500;
    color: #777777;
}

.single-inner-developer {
    margin: 30px auto;
}

.dev-img {
    width: 100%;
    margin: auto;
}

.dev-2 {
    font-size: 13px;
    color: #646464;
    font-weight: 400;
    margin: 10px 0;
}

.senior-dev {
    height: 100%;
    width: 100%;
    background-color: #faf7f2;
}

.in-inner-dev2 {
    background-color: #64BE45;
    font-size: 25px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #852f00;
}

.inner-developer2 {
    padding: 10px 0;
    background-color: #ffffff;
    border: solid 2px #eeeeee;
    border-radius: 10px;
    margin: auto;
    height: 300px;
}

.main-s {
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.inner-s1 {
    height: 600px;
    width: 0%;
    background-color: #64BE45;
    transition: all 1s;
}

.inner-s2 {
    height: 600px;
    width: 0%;
    background-color: #454dbe;
    transition: all 1s;
}

.inner-s3 {
    height: 600px;
    width: 0%;
    background-color: #be4545;
    transition: all 1s;
}

.inner-s4 {
    height: 600px;
    width: 100%;
    background-color: #fffb0f;
    transition: all 1s;
}

.inner-s5 {
    height: 600px;
    width: 100%;
    background-color: #999999;
    transition: all 1s;
}

.inner-s6 {
    height: 600px;
    width: 100%;
    background-color: #0fdbff;
    transition: all 1s;
}

.inner-s7 {
    height: 600px;
    width: 100%;
    background-color: #ffc70f;
    transition: all 1s;
}

.inner-s8 {
    height: 600px;
    width: 100%;
    background-color: #ff0ff3;
    transition: all 1s;
}

.inner-ms {
    width: 100%;
}

/* 
.spe1{
    transform: translateX(-500px); 
}

.spe3{
    transform: translateX(-1500px); 
}
.spe4{
    transform: translateX(-2000px); 
}
.spe5{
    transform: translateX(-2500px); 
}
.spe6{
    transform: translateX(-3000px); 
}
.spe7{
    transform: translateX(-3500px); 
}
.spe8{
    transform: translateX(-4000px); 
} */